
@model WebAPI.Models.Dispecer
@{
    ViewBag.Title = "dispecerView";
    ViewBag.Dispecer = @Model;

}

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="width:auto; height:auto; background-image:url('../taxi-service.png'); background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;">
    <div style="text-align:center">
        <h2>Dobrodošli @Model.Korisnicko_ime</h2>
    </div>
    <div style="text-align:center">
        <table align="center">
            <tr>
                <td width="50">
                    <form action="/Projekat/DodajVozacaStart">
                        <input type="submit" value="Dodaj vozaca" />
                    </form>
                <td width="50">
                    <form action="/Projekat/DispecerEdit">
                        <input type="submit" value="Izmeni podatke" />
                    </form>
                </td>
                <td>
                    <form action="/Projekat/DispecerZakazujeVoznju">
                        <input type="submit" value="Zakaži vožnju" />
                    </form>
                </td>
                <td>
                    <form action="/Projekat/OdjaviDispecer">
                        <input type="submit" value="Odjavi se" />
                    </form>
                </td>
            </tr>
        </table>
    </div>

   
    @if (WebAPI.Models.PostojeciKorisnici.ListaSvihVoznji.Count == 0)
    {
        <div style="text-align:center">
            <h2>Nema vožnji</h2>
        </div>
    }

    else if (Model.Filter == true)
    {
        <div style="text-align:center">
            <table align="center">
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Projekat/SortirajMusteriju">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.Korisnicko_ime" name="musterija" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Projekat/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                @foreach (WebAPI.Models.Voznja v in @Model.Filtrirane)
                {
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.Datum_i_vreme</lable></td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.StatusVoznje != WebAPI.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Projekat/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.Datum_i_vreme" name="date" />
                                        <input type="hidden" value="@v.Musterija.Korisnicko_ime" name="musterija" />
                                        <input type="hidden" value="@Model.Korisnicko_ime" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>
                                }
                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Projekat/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
            </form>
        </div>
    }
    else if (Model.Pretrazivanje == true)
    {
        <div style="text-align:center">
            <table align="center">
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Projekat/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Projekat/SortirajMusteriju">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.Korisnicko_ime" name="musterija" />
                        </form>
                    </td>
                </tr>
                @foreach (WebAPI.Models.Voznja v in @Model.Pretrazene)
                {
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.Datum_i_vreme</lable></td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.StatusVoznje != WebAPI.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Projekat/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.Datum_i_vreme" name="date" />
                                        <input type="hidden" value="@v.Musterija.Korisnicko_ime" name="musterija" />
                                        <input type="hidden" value="@Model.Korisnicko_ime" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>
                                }
                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Projekat/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
            </form>
        </div>
    }
    else if (Model.Sortiranje == true)
    {
        <div style="text-align:center">
            <table align="center">
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Projekat/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Projekat/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                @foreach (WebAPI.Models.Voznja v in @Model.Sortirane)
                {
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.Datum_i_vreme</lable></td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.StatusVoznje != WebAPI.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Projekat/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.Datum_i_vreme" name="date" />
                                        <input type="hidden" value="@v.Musterija.Korisnicko_ime" name="musterija" />
                                        <input type="hidden" value="@Model.Korisnicko_ime" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>
                                }
                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Projekat/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
            </form>
        </div>
    }
    else if (Model.TraziVozac == true)
    {
        <div style="text-align:center">
            <table align="center">
                <tr></tr>
                <tr>
                    <td>Pretraga mušterije</td>
                    <td>
                        <form action="/Projekat/TraziMusteriju">
                            Ime:<input type="text" name="musterijaI" />Prezime:<input type="text" name="musterijaP" /><input type="submit" value="Pretraži" /> <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Projekat/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Projekat/SortirajMusteriju">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.Korisnicko_ime" name="musterija" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Projekat/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                @foreach (WebAPI.Models.Voznja v in @Model.NadjeniVozaci)
                {

                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.Datum_i_vreme</lable></td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.StatusVoznje != WebAPI.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Projekat/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.Datum_i_vreme" name="date" />
                                        <input type="hidden" value="@v.Musterija.Korisnicko_ime" name="musterija" />
                                        <input type="hidden" value="@Model.Korisnicko_ime" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>

                                }
                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Projekat/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
            </form>
        </div>
    }
    else if (Model.TraziMusteriju == true)
    {
        <div style="text-align:center">
            <table align="center">
                <tr>
                    <td colspan="2">Vaše vožnje</td>
                </tr>
                <tr>
                    <td>Pretraga vozača</td>
                    <td>
                        <form action="/Projekat/TraziVozaca">
                            Ime:<input type="text" name="vozacI" />Prezime:<input type="text" name="vozacP" /><input type="submit" value="Pretraži" /> <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Projekat/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Projekat/SortirajMusteriju">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.Korisnicko_ime" name="musterija" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Projekat/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                @foreach (WebAPI.Models.Voznja v in @Model.NadjeneMusterije)
                {

                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.Datum_i_vreme</lable></td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.StatusVoznje != WebAPI.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Projekat/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.Datum_i_vreme" name="date" />
                                        <input type="hidden" value="@v.Musterija.Korisnicko_ime" name="musterija" />
                                        <input type="hidden" value="@Model.Korisnicko_ime" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>
                                }

                            </td>

                        }
                    </tr>
                }
            </table>
            <form action="/Projekat/PonistiFilter">
                <input type="submit" value="Poništi filter" />
                <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
            </form>
        </div>
    }
    else
    {
        <div style="text-align:center">
            <table align="center">
                <tr>
                    <td colspan="2">Vaše vožnje</td>
                </tr>
                <tr>
                    <td>Pretraga vozača</td>
                    <td>
                        <form action="/Projekat/TraziVozaca">
                            Ime:<input type="text" name="vozacI" />Prezime:<input type="text" name="vozacP" /><input type="submit" value="Pretraži" /> <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraga mušterije</td>
                    <td>
                        <form action="/Projekat/TraziMusteriju">
                            Ime:<input type="text" name="musterijaI" />Prezime:<input type="text" name="musterijaP" /><input type="submit" value="Pretraži" /> <input type="hidden" name="korisnik" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Pretraži vožnje po statusu</td>
                    <td>
                        <form action="/Projekat/FiltriraMusterija">
                            <select name="filterStatus">
                                <option id="kreirana">Kreirana</option>
                                <option id="formirana" selected>Formirana</option>
                                <option id="obradjena">Obrađena</option>
                                <option id="prihvacena">Prihvaćena</option>
                                <option id="Otkazana">Otkazana</option>
                                <option id="neuspesna">Neuspešna</option>
                                <option id="uspesna">Uspešna</option>
                            </select>
                            <input type="submit" value="Filtriraj" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Sortiraj</td>
                    <td>
                        <form action="/Projekat/SortirajMusteriju">
                            Po datumu:<input type="radio" name="datum" /> Po Oceni:<input type="radio" name="ocena" />
                            <input type="submit" value="Sortiraj" />
                            <input type="hidden" value="@Model.Korisnicko_ime" name="musterija" />
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>Pretraži vožnju </td>
                    <td>
                        <form action="/Projekat/TraziMusterija">
                            Datum:<input type="text" name="datum" />
                            Ocena:<select name="ocena">
                                <option name="neocenjen">Neocenjen</option>
                                <option name="veomaLose">Veoma loša</option>
                                <option name="losa">Loša</option>
                                <option name="dobra">Dobra</option>
                                <option name="veomaDobra">Veoma dobra</option>
                                <option name="odlicna">Odlična</option>
                            </select>
                            Cena:<input type="text" name="cena" />
                            <input type="submit" value="Pretraga" />
                            <input type="hidden" name="musterija" value="@Model.Korisnicko_ime" />
                        </form>
                    </td>
                </tr>
                @foreach (WebAPI.Models.Voznja v in @Model.listaVoznja)
                {

                <tr class="table" align="center" style="background-color:aliceblue; border-radius:25px; width:auto; height:auto; padding-left:10px; padding-top:20px">
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.Datum_i_vreme</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                        @if (v.Vozac.Ime == "nema")
                        {
                            <td>
                                @if (v.StatusVoznje != WebAPI.Models.StatusVoznje.Otkazana)
                                {
                                    <form action="/Projekat/DodeljivanjeVozaca">
                                        <input type="hidden" value="@v.Datum_i_vreme" name="date" />
                                        <input type="hidden" value="@v.Musterija.Korisnicko_ime" name="musterija" />
                                        <input type="hidden" value="@Model.Korisnicko_ime" name="disp" />
                                        <input type="submit" value="Dodeli vozača" />
                                    </form>
                                   
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }

    @if (Model.listaVoznja.Count == 0)
    {
        <div>
            <h1>Lista vožnji je prazna!</h1>
        </div>
    }
    else
    {
        <div style="text-align:center">
            <table align="center" >
                <tr>
                    <td colspan="2">Vaše vožnje</td>
                </tr>

                @foreach (WebAPI.Models.Voznja v in @Model.listaVoznja)
                {

                    <tr>
                        <td>Datum i vreme porudžbine</td>
                        <td><lable>@v.Datum_i_vreme</lable></td>
                    </tr>
                    <tr>
                        <td>Status vožnje</td>
                        <td>@v.StatusVoznje.ToString()</td>
                    </tr>
                    <tr>
                        <td>Početna lokacija</td>
                        <td><label>@v.LokacijaNaKojuTaksiDolazi.Adresa.Ulica @v.LokacijaNaKojuTaksiDolazi.Adresa.Broj ,@v.LokacijaNaKojuTaksiDolazi.Adresa.Mesto @v.LokacijaNaKojuTaksiDolazi.Adresa.PostanskiBroj</label></td>
                       
                    </tr>
                }
            </table>
        </div>
    }
</body>
</html>